
<h1>About</h1>
<p>
<div class = "container" style ="font-size: 22px; font-family: Calibri">
	<div class = "col-md-2" style =" float:left; margin-right: 10px">
  		<%= image_tag("Dr_David_Hyppolite.jpg")%>
  	</div>
  	<div class ="col-md-9">
  			 <i>Doctor Hyppolite has been providing laser hair treatment to the Red Bank Community for over 30 years. In that time, he has allowed hundreds of patients to realize their dream bodies. He graduated from [INSERT SCHOOL] in [YEAR] and has been recommended time and time again by his patients.</i>
  	</div>
</div>
<footer class ="footer"></footer>

<div class = "container"style ="font-size: 22px; font-family: Calibri">
	
  	<div class = "col-md-2" style ="font-size: 40px; float: right; margin-left: 10px">
  		<%= image_tag("Dr_David_Hyppolite.jpg")%>

  	</div>
  	<div class = "col-md-9">
  			 <i>Doctor Hyppolite has been providing laser hair treatment to the Red Bank Community for over 30 years. In that time, he has allowed hundreds of patients to realize their dream bodies. He graduated from [INSERT SCHOOL] in [YEAR] and has been recommended time and time again by his patients.</i>
 	</div>
</div>

</p>