<div>
  <h1>Welcome to the Red Bank Hair Removal Care Center</h1>

  <h2>
    Doctor David Hypoppolite and team have specialized for over 10 years in expert hair removal
  </h2>

<!-- Place in the <head>, after the three links -->
  <script type="text/javascript" charset="utf-8">
    window.onload=function() {
      $('.flexslider').flexslider({
        animation: "slide"
      });
    };
  </script>
</div>
<div class="flexslider">
  <ul class="slides">
    <li>
        <%= image_tag("hair-removal.jpg", width: "100%", height: "400px", :align=> "middle")%>     
    </li>
    <li>
        <%= image_tag("lazer hair.jpg", width: "100%", height: "400px", :align=> "middle")%>   
    </li>
  </ul>
</div>

