
<h1>Location and Hours</h1>
  <div class = "col-md-6" style = "text-align:center">
    <h3 style = "text-align:center">Office Address<a href = "https://www.google.com/maps/place/Providential+Medical+Center/@40.3482884,-74.0774702,17z/data=!4m13!1m7!3m6!1s0x89c23034e97bfee5:0xd83edbac4c213150!2s66+Bridge+Ave,+Red+Bank,+NJ+07701!3b1!8m2!3d40.3482843!4d-74.0752815!3m4!1s0x89c23034e97bfee5:0x97e74ac02b517bd!8m2!3d40.348302!4d-74.075208" style ="text-align: center"></h3><h2><br>66 Bridge Ave, <br> Red Bank, NJ 07701</a></h2>
</div>
<div class = "col-md-6" style = "text-align:center">
    <h3>Office Hours</h3>
    <h2>
    Monday:  10AM–4:30PM<br>
    Tuesday: 10AM–6:30PM<br>
    Wednesday: Closed<br>
    Thursday:  10AM–4:30PM<br>
    </h2>
</div>
<%= image_tag("Location.png", width: "100%", :align=> "middle")%> 
<p>


</p>